.aggregator h6 {
    margin: 3px 0;
    padding-right: 10px;
}

.aggregator {
  margin: 12px 0 0 12px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  padding-bottom: 10px; 
}

.hike-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}


.MuiPaper-root {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 10px;
}

/* .hike-list {
  display: flex;
  flex-direction: row wrap;
  width: calc(100vw - 330px);
  overflow-x: scroll;
} */